# Compiled Object files
*.slo
*.lo
*.o
*.onj
*.[oa]

# Executables
*.exe
*.out
*.app

*~

# DataBase
*.sql
*.sqlite

# Temporary files
*.pri
*.pro
*.pro.user
*.swp
*.user
*.autosave

# Makefiles
Makefile
CMakeCache.txt
cmake_install.cmake

# Dirs
# ignore all files in backup directory
**/html
**/latex
**/backup
**/CMakeFiles
**/build
**/tests_build
**/build-space_shooter
**/build-*
sour*
**/test*
