*.[oa]
*~
*.exe
*.swp
*.user
*.autosave

*.sql
*.sqlite
*.pri
*.pro
*.pro.user

Makefile
CMakeCache.txt
cmake_install.cmake
#######################################
# exclude dirs
######################################
# ignore all files in backup directory
**/html
**/latex
**/backup
**/CMakeFiles
**/build
**/tests_build
**/build-space_shooter
**/build-*
sour*
